---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
{
    date: "January 2025 - Present",
    title: "Assistant at Management Solutions",
    description:
      "Responsible for providing customer support and assistance. Developed various automation and access management tools.",
  },
  {
    date: "September 2023 - January 2025",
    title: "Software developer at TotalRenting",
    description:
      "In charge of implementing different integrations between the company and other services, as well as developing new features.",
  },
  {
    date: "July 2023 - September 2023",
    title: "Intern at TotalRenting",
    description:
      "In charge or creating different pages for the company's website, as well as implementing new features for the platform.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
