---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1 class="text-white">Esta es la página del layout</h1>
  <p class="text-white">esto es un texto de prueba para ver como funciona
  esto ya tambien ver como de rapido puedo escribir</p>
</Layout>
