---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/layout/SectionContainer.astro";
import Badge from "../components/ui/Badge.astro";
import SocialPill from "../components/ui/SocialPill.astro";
---

<Layout title="Componentes">
  <SectionContainer>
    <h1>&lt;Badge /&gt;</h1>
    <Badge>Astro</Badge>
    <Badge>Tailwind</Badge>
  </SectionContainer>
</Layout>
