<section class="flex flex-row gap-x-10 justify-center items-center">
  <article class="flex flex-col gap-y-8 text-pretty w-3/4">
    <p>
      Hello, I'm Pablo Brasero Martínez, an enthusiastic and diligent
      professional with a strong passion for teamwork. My ability to handle both
      mechanical tasks and situations that require improvisation sets me apart.
      My logical thinking is a key asset in resolving conflicts, and I'm deeply
      committed to the projects I undertake.
    </p>
    <p>
      Along my carreer, I've demonstrated my ability to work efficiently in
      dynamic and challenging environments. I adapt swiftly to new situations,
      always maintaining a high level of professionalism and dedication.
    </p>
    <p>
      My professional and personal journey has taken me through diverse
      experiences, where I've strengthened my interpersonal skills and my
      ability to work under pressure. I'm continually seeking new opportunities
      for growth and to make a positive contribution to any team.
    </p>
  </article>
  <article class="flex items-center justify-center place-content-center w-1/4 h-1/4">
    <img class="rounded-full place-self-center shadow-2xl" src="../../public/FotoP2_1x1.jpg" alt="profile pablo" />
  </article>
</section>
