<span
  class={`inline-flex 
    animate-background-shine 
    cursor-pointer 
    items-center 
    justify-center 
    rounded-xl border border-gray-400 dark:border-gray-800 
    bg-[linear-gradient(110deg,#FFFFFF,45%,#DBDBDB,55%,#FFFFFF)] bg-[length:250%_100%] 
    dark:bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] dark:bg-[length:250%_100%] 
    px-2 py-1 
    text-xs font-medium text-gray-800 dark:text-gray-300`}
>
  <slot />
</span>
