<footer class="pt-20 pb-4 w-full xl:w-[1120px]">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="w-1/4">
                <h6 class="text-lg font-bold">Company</h6>
                <ul>
                    <li class="mt-2">
                        <a href="">About Us</a>
                    </li>
                    <li class="mt-2">
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="w-1/4">
                <h6 class="text-lg font-bold">Support</h6>
                <ul>
                    <li class="mt-2">
                        <a href="">FAQ</a>
                    </li>
                    <li class="mt-2">
                        <a href="">Help</a>
                    </li>
                </ul>
            </div>
            <div class="w-1/4">
                <h6 class="text-lg font-bold">Follow Us</h6>
                <ul>
                    <li class="mt-2">
                        <a href="">Instagram</a>
                    </li>
                    <li class="mt-2">
                        <a href="">Facebook</a>
                    </li>
                    <li class="mt-2">
                        <a href="">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="w-1/4">
                <h6 class="text-lg font-bold">Download Our App</h6>
                <ul>
                    <li class="mt-2">
                        <img src="/images/app-store.png" alt="">
                    </li>
                    <li class="mt-2">
                        <img src="/images/play-store.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="border-t mt-16 pt-8">
            <p class="text-center">
                &copy; 2040 | Some Rights Reserved
            </p>
        </div>
    </div>
    
</footer>