<footer
  class="shadow-t border-t shadow-white shadow-xl border-2 border-gray-700 mt-20 pt-8 pb-4 w-full"
>
  <div class="container mx-auto">
    <div class="flex justify-center">
      <div class="w-1/2 flex justify-center">
        <div>
          <h4 class="text-xl font-bold">More Information</h4>
          <ul>
            <li class="mt-2">
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline hover:opacity-80"
                href="https://www.linkedin.com/in/pablo-brasero-mart%C3%ADnez-762036230/"
                >LinkedIn</a
              >
            </li>
            <li class="mt-2">
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline hover:opacity-80"
                href="https://github.com/Polinss3">GitHub</a
              >
            </li>
            <li class="mt-2">
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline hover:opacity-80"
                href="../../public/CurrículumPabloBrasero.pdf"
                >Curriculum Vitae</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="w-1/2 flex justify-center">
        <div>
          <h4 class="text-xl font-bold">Index</h4>
          <ul>
            <li class="mt-2">
              <a class="hover:underline hover:opacity-80" href="/#top">Home</a>
            </li>
            <li class="mt-2">
              <a class="hover:underline hover:opacity-80" href="/#experience"
                >Experience</a
              >
            </li>
            <li class="mt-2">
              <a class="hover:underline hover:opacity-80" href="/#projects"
                >Projects</a
              >
            </li>
            <li class="mt-2">
              <a class="hover:underline hover:opacity-80" href="/#about-me"
                >About</a
              >
            </li>
            <li class="mt-2">
              <a class="hover:underline hover:opacity-80" href="/#contact"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="border-t mt-6 pt-8">
      <p class="text-center">Pablo brasero Martínez</p>
    </div>
  </div>
</footer>
