---
const { type, href } = Astro.props;

import GITHUB from "./icons/tags/GitHub.astro";
import WEB from "./icons/tags/Web.astro";

console.log(type, href);
---

<a
  class="group flex justify-center items-center gap-2 group-hover:before:duration-500 group-hover:after:duration-500 after:duration-500 hover:border-neutral-900 duration-500 hover:duration-500 underline underline-offset-2 hover:underline hover:underline-offset-4 origin-left hover:decoration-2 hover:text-neutral-300 relative bg-neutral-900 px-10 py-4 border text-left p-3 text-gray-50 text-base font-bold rounded-lg overflow-hidden after:absolute after:z-10 after:w-12 after:h-12 after:content[''] after:bg-sky-900 after:-left-8 after:top-8 after:rounded-full after:blur-lg hover:after:animate-pulse"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <span class="size-6">
    {type === "Web" && <WEB />}
    {type === "GitHub" && <GITHUB />}
  </span>
  <p>{type}</p>
</a>
