---
interface Props {
  // typescript
  title: string;
}

const { title } = Astro.props;
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import "@fontsource-variable/onest";
import "@fontsource-variable/fira-code";
---

<!doctype html>
<html lang="es" >
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LogoCuadrado.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-gradient-to-br dark:from-gray-900 dark:to-gray-600 text-black dark:text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    min-height: 100vh;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
  }

  @media (prefwers-reduced-motion: reduce) {
    body {
      scroll-behavior: auto;
    }
  }
  .bg-white {
    background-image: linear-gradient(to top left, #F3F4F6, #D1D5DB);
  }
  .dark .bg-white {
    background-image: linear-gradient(to bottom right, #1F2937, #4B5563);
  }
</style>
